* {
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
    font-family: inherit;
}

.container {
    width: 960px;
    margin: auto;
}

.header{
    margin-left: 200px;
}

h1{
    font-weight: normal;
    font-size: 50px;
    margin-left: 50px;

}

.buttons{
    display: flex;
    margin-top: 6px;
}

.buttons input {
    margin: 3px;
    border-radius: 3px;
    height: 35px;
}

.search{
    border: 1px solid gray;
}

.submit{
    background-color:#28a745;
    border: none;
    color: white;
}


.trends{
    background-color: #dc3545;
    border: none;
    color: white;

}

.categories{
    display: flex;
}

.cat{
    background-color:ghostwhite;
    color: black;
    text-align: center;
    margin: 5px;
    padding: 8px;
    height: 35px;
    border-radius: 3px;
}

.active-category{
    border: 4px solid #17a2b8;
    padding: 5px;

}

.active-submit{
    border: 4px solid #20c997;

}

.active-trend{
    border: 4px solid #e83e8c;

}

.giphy{
    display: flex;
    flex-wrap: wrap;
}

.gifItem{
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 0.5px solid black;
    padding-bottom: 20px;
    display:grid;
}

.gifItem span{
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}